**
!.gitignore
!ChangeLog.md
!LICENSE
!bacon20.cabal
!stack.yaml
!src/
!src/Pdr.hs
!src/Ic3.hs
!src/QIc3.hs
!src/TwoCellIc3.hs
!src/RecMc.hs
!src/Solver.hs
!test/
!test/CountTo5.hs
!test/Div2Sub2.hs
!test/M91.hs
!test/DuplicateEntry.hs
!test/Ackermann.hs
!test/Sorts.hs
!test/SimpleScheduler.hs
